.pricing{
    padding: 12% 10%;
    width:33%;
    display: inline-block;}
.sizeBtn{
    width:50%;
}
@media (max-width:1045px) {
    .pricing{
        align-items: center;
        width :50%;
    }
}
@media (max-width:600px) {
    .pricing{
        align-items: center;
        display:block;
    }
}
